<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }} 图书管理系统</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/lib/pagination/pagination.css">
    <link rel="stylesheet" href="/static/css/main.css">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/static/lib/respond/respond.min.js"></script>
        <script type="text/javascript" src="/static/lib/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
{#    home#}
    <header id="home">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <a href="{% url 'bookmanage:index' %}" class="navbar-brand">图书管理系统</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu "><i class="navbar-toggler-icon"></i></button>
                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{% url "bookmanage:query" %}" class="nav-link"><i class="fas fa-search"></i>&nbsp;查询</a></li>
                        <li class="nav-item"><a href="{% url "bookmanage:card" %}" class="nav-link"><i class="fas fa-arrow-alt-circle-down"></i>&nbsp;借书</a></li>
                        <li class="nav-item"><a href="{% url "bookmanage:card" %}" class="nav-link"><i class="fas fa-redo"></i>&nbsp;还书</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{#    home#}

{% block body %}{% endblock body%}
{#footer#}
    <footer id="copyright">
        <div class="container text-center">
            <p>CopyRight © 2018 XXX技术有限公司 All Rights Reserved</p>
        </div>
    </footer>

    <script type="text/javascript" src="/static/lib/jquery/jquery-3.3.1.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>#}
    <script type="text/javascript" src="/static/lib/popper/popper.min.js"></script>
    <!-- the above sentence is required for the tooltip -->
    <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/lib/pagination/pagination.js"></script>
    <script type="text/javascript" src="/static/lib/twbspagination/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% block js %}{% endblock %}
</body>
</html>